@charset "UTF-8";

.container {
	width: 100%;
}

.contents {
	margin: 0px auto;
	width: 1833.75px;
}

.grid {
	width: 1206px;
	height: 500px;
	float: left;
	border-bottom: 1px solid orange;
}

.login {
	width: 626.8px;
	height: 500px;
	float: left;
	border-bottom: 1px solid orange;
}

.login_table {
	margin: auto;
	margin-top: 100px;
}

.loginBtn {
	width: 100px;
	height: 64.23px;
	vertical-align: middle;
	background: orange;
	border: 0px;
	color: white;
}

.userId {
	width: 200px;
	height: 25px;
	padding-left: 10px;
}

.userPwd {
	width: 200px;
	height: 25px;
	padding-left: 10px;
}

.td_padding {
	padding-top: 10px;
	text-align: center;
}

a:link {
	color: black;
	text-decoration: none;
}

a:visited {
	color: black;
	text-decoration: none;
}

a:hover {
	color: orange;
	text-decoration: underline;
}