@charset "UTF-8";

.container {
	width: 100%;
}

.contents {
	margin: 0px auto;
	width: 700px;
}
.logo {
	height: 100px;
}
.logo > h1 {
	text-align: center;
	padding-top: 30px;
	color: orange;
	size: 40px;
}
.signUp {
	width: 100%;
	height: 170px;
	border: 1px solid orange;
}
.signUp > ul {
	height: 100%;
	margin: 0;
	padding: 0;
}
.signUp > ul > li{
	width: 100%;
	height: 50%;
	list-style: none;
	border-bottom: 1px solid orange;
}
.signUp > ul > li{
	vertical-align: middle;
}
label {
	color: red;
	width:20px;
	height:40px;
	font-size: 30px;
	text-align: center;
	float: left;
}
.signUp > ul > li > div:nth-child(2) {
	height:100%;
}
.signUp > ul > li > div:nth-child(2) > input[type="text"], input[type="password"] {
	height: 50px;
	border: none;
	padding-left: 7px;
	margin-top: 20px;
}
